%h1 This is the Workouts#Index placeholder


.workouts
    - @workout.each do |w|
        .line
            %h2= link_to "#{w.name}", workout_path(w.id)
            %h4= link_to "#{w.category}", category_path(w.category) 
            %h6= "Reps: #{w.reps}"
            %p= "#{w.progression}"
        %br