%h1 This is the Workouts#Index placeholder


.workouts
    - @workout.each do |w|
        .line
            = "Name: #{w.name}"
            = "Category: #{w.category}"
            = "Reps: #{w.reps}"
            = "Progression: #{w.progression}"
        %br