%workout
    = @workout.name
    = @workout.category
    = @workout.reps
    = @workout.example
    = @workout.progression

.edit
    = link_to 'Edit', edit_workout_path(@workout) |
    = link_to 'Home', root_path